@media(max-width:991px) {

    section{
        padding: 20px 0;
    }

    .header-scrolled {
        height: auto;
    }

    .header-wrapper .menu-navbar-nav {
        background: var(--bg-white);
        text-align: center;
        padding-bottom: 15px;
    }

    .header-wrapper .nav-item .nav-link {
        margin-top: 15px;
    }

    /* banner */
    .banner-wrapper h3 {
        margin-top: 2rem;
    }
    .banner-wrapper img{
        width: 22rem;
        margin-left: 0;
    }
}

@media(max-width:767px) {


    /* custom css */

.banner-wrapper h1{
    font-size:45px;
}
.banner-wrapper h3{
    font-size:30px;
}
.banner-wrapper p{
    font-size:15px;
}
.main-btn{
    font-size:17px;
}
.banner-wrapper img{
    width: 22rem;
    margin-left: 0;
}
}

@media(max-width:450px) {
 

    .banner-wrapper h3{
        font-size: 25px;
    }
    .banner-wrapper h1{
        font-size: 36px;
    }
  
}

@media(max-width:310px){
    .banner-wrapper h3{
        font-size: 17px;
    }
    .banner-wrapper h1{
        font-size: 28px;
    }
}